#-----------------------------------------------
# API connection
#-----------------------------------------------
VITE_APP_BASE_API_URL=http://localhost:8000/api


#-----------------------------------------------
# Map
#-----------------------------------------------
VITE_APP_CENTER_POSITION_X=52.0693
VITE_APP_CENTER_POSITION_Y=19.4803