#-----------------------------------------------
# DATABASE envs
#-----------------------------------------------
DB_HOSTNAME=mysql-backend
DB_USERNAME=user
DB_PASSWORD=user1234
DB_PORT=3307
DB_NAME=db_1

#-----------------------------------------------
# CORS Origins
#-----------------------------------------------
CORS_ORIGIN=http://localhost:5173


#-----------------------------------------------
# Mail configuration
#-----------------------------------------------
MAIL_SERVER=
MAIL_PORT=
MAIL_USE_SSL=
MAIL_USERNAME=
MAIL_PASSWORD=

#-----------------------------------------------
# URLs
#-----------------------------------------------
ACTIVATE_ACCOUNT=http://localhost:5173/register/activate

# --------------------------------------------------------------------------
# ACTIVATION TOKEN
# --------------------------------------------------------------------------
ACTIVATION_TOKEN_EXPIRATION_TIME_IN_SECONDS=300
ACTIVATION_TOKEN_LENGTH=30

# --------------------------------------------------------------------------
# JWT TOKEN
# --------------------------------------------------------------------------
JWT_ISSUER=
JWT_AUTHTYPE=
JWT_SECRET=
JWT_ACCESS_MAX_AGE=
JWT_REFRESH_MAX_AGE=
JWT_PREFIX=