[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
flask-restful = "*"
python-dotenv = "*"
pyjwt = "*"
flask-cors = "*"
mysqlclient = "*"
sqlalchemy = "*"
flask-pydantic = "*"
flask-mail = "*"

[dev-packages]

[requires]
python_version = "3.14"
